.bn1-secret {
    width: 100%;
    height: 160px;
    display: flex;
}

.bn1-secrets-menu {
    width: 20%;
}

.bn1-secret-content {
    width: 77%;
    font-size: 12px;
    margin-left: 3%;
}

.bn1-secret-menu {
	padding: 8px 8px 6px 0;
	font-size: 13px;
	text-align: right;
	cursor: pointer;
	border-radius: 3px;
}

.bn1-secret-menu-active, .bn1-secret-menu:hover {
	background-color: #3498db;
}

.bn1-secrets-content-block {
    width: 100%;
    height: 99%;
    margin-top: 1%;
    display: none;
}

.bn1-visible {
    display: block;
}